@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}

@using System.Web.Optimization

<div class=jumbotron>
    <h1>
        AllAboutTheSport<br />
        <small>Sport is more than a hobby, it's a life style.</small>
    </h1>
</div>

<div class=container-fluid>
    <div class="row">
        <div class="col-xs-6" id="my1-col-xs-6">
            <h3>MAIN DIRECTIONS</h3>
            <ul class="list-group" id="ul1">
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> Promotion of sport and healthy lifestyle all around the world.</li>
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> Organization of sports events and training sections.</li>
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> Production of quality sports equipment.</li>
            </ul>
        </div>
        <div class="col-xs-6" id="my2-col-xs-6">
            <h3>VALUES</h3>
            <ul class="list-group" id="ul2">
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> We love sport that's why we promote it.</li>
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> We believe that everyone should have a chance to practice a sport.</li>
                <li class="list-group-item" id="li1"><span class="glyphicon glyphicon-ok-circle"></span> Wearing the AAS equipment, you become a part of our team.</li>
            </ul>
        </div>
    </div>
</div>

<div class=container-fluid>
    <div class="row">
        <div class="col-xs-4" id="my2-col-xs-6">
            <h3>Contacts</h3>
            <ul class="list-group" id="ul2">
                <li class="list-group-item" id="li1">Phone: +373(68)68-68-68</li>
                <li class="list-group-item" id="li1">E-mail: allaboutethesport@gmail.com</li>
            </ul>
        </div>
        <div class="col-xs-4" id="my2-col-xs-6">
            <h3>Follow Us Online</h3>
            <ul class="list-group" id="ul2">
                <li class="list-group-item" id="li1"><img src="~/Images/facebook-logo.jpg" id="online-logo"> <img src="~/Images/instagram-logo.png" id="online-logo"> <img src="~/Images/twitter-logo.jpg" id="online-logo"> <img src="~/Images/youtube-logo.jpg" id="online-logo"> <img src="~/Images/snapchat-logo.png" id="online-logo"></li>
            </ul>
        </div>
        <div class="col-xs-4" id="my2-col-xs-6">
            <h3>Newsletter Sign Up</h3>
            <ul class="list-group" id="ul2">
                <li class="list-group-item" id="li1">Enter your e-mail...</li>
            </ul>
        </div>
    </div>
</div>
